<ion-view title="Login">
    <!-- <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons> -->
    <ion-content>
      <form name="login.forgetForm" novalidate="" ng-submit="login.doForgetPassword()">
        <div class="list">
          <label class="item item-input item-floating-label">
            <span class="input-label">Username</span>
            <input type="text" ng-model="login.forgetPassData.username" placeholder="Username" name="username" required set-valid-after-change="inactive-or-blocked"
              inactive-or-blocked spellcheck="false">
            <ng-messages class="form-errors" for="login.forgetForm.username.$error" ng-if="login.forgetForm.username.$touched &&  login.forgetForm.username.$invalid ||  login.forgetForm.username.$invalid && login.forgetForm.$submitted">
              <div class="form-error" ng-message="required">This field is required.</div>
              <div class="form-error" ng-message="inactive-or-blocked">"The username {{login.loginData.username}} has not been activated or is blocked.</div>
            </ng-messages>
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Mail</span>
            <input type="email" ng-model="login.forgetPassData.mail" placeholder="Password" name="password" required spellcheck="false">
            <ng-messages class="form-errors" for="login.forgetForm.password.$error" ng-if="login.forgetForm.password.$touched &&  login.forgetForm.password.$invalid">
              <div class="form-error" ng-message="required">This field is required.</div>
              <div class="form-error" ng-message="password">This is no valid password.</div>
            </ng-messages>
          </label>
          <div class="padding">
            <div class="form-errors" ng-show="login.forgetForm.$submitted">
              <div class="form-error" ng-bind-html="error" ng-repeat="error in login.serverErrors track by $index"></div>
            </div>
          </div>
          <div class="padding">
            <button class="button button-block button-positive button-spinner" style=" background-color: #37474f;">
              <span ng-if="!login.loginIsPending">Yeni Şifre İste</span>
              <span ng-if="login.loginIsPending">Logging in</span>
              <ion-spinner ng-if="login.loginIsPending"></ion-spinner>
            </button>
          </div>
        </div>
      </form>
    </ion-content>
  </ion-view>